
body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
    opacity: 0.9;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 69px;
    position: sticky;
    align-items: center;
    border-bottom: 1px solid seashell;
  }
  
  nav img {
    height: 50px;
    padding-left: 10px;
  }
  
  nav li {
    display: inline-flex;
  }
  
  nav li a {
    color: seashell;
    margin: 5px;
  }
  
  header {
    background-image: url("img-mission-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mission {
    background-color: #000;
    width: 1200px;
  }
  
  main {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .title {
    max-width: 1200px;
    margin: 0 auto;
    order: -1;
    flex: 1 0 100%;
  }
  
  .tea img {
    width: 300px;
    height: 200px;
    padding: 10px;
  }
  
  .tea h4 {
    margin-top: 10px;
  }
  
  .locations {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    background-repeat: no-repeat;
    min-height: 500px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
  }
  
  .address {
    width: 300px;
    background-color: #000;
    margin: 14px 40px;
  }
  
  footer {
    text-align: left;
    margin: 20px;
  }
  